<!DOCTYPE html>
<html>
<head>
  <title>Sagashi</title>
  <%= stylesheet_link_tag    "sagashi/application", media: "all" %>
  <%= javascript_include_tag "sagashi/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
